<!DOCTYPE html>
<html>
<head>
    <title>PRETTY FINDS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }

        h1 {
            color: #333;
        }

        form {
            margin: 20px;
            padding: 20px;
            background-color: transparent;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(124, 85, 146, 0.1);
        }

        .form-group {
            margin: 10px 0;
        }

        label {
            font-weight: bold;
        }

        input[type="email"] {
            width: 30%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #481583;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #481583;
        }
    </style>
</head>
<body>
    <h1>Enter Email</h1>
    <form action="/email-reset-otp" method="post" >
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Send OTP</button>
    </form>

   
</body>
</html>
