<!DOCTYPE html>
<html>
<head>
    <title>PRETTY FINDS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }

        h1 {
            color: #333;
        }

        form {
            margin: 20px;
            padding: 20px;
            background-color:transparent;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(124, 85, 146, 0.1);
        }

        .form-group {
            margin: 10px 0;
        }

        label {
            font-weight: bold;
        }

        input[type="email"],
        input[type="password"] {
            width: 30%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #481583;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #481583;
        }
    </style>
</head>
<body>
    <h1>Forgot Password</h1>
    <form action="/reset-password" method="POST">
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit">Reset Password</button>
       <% if (locals.successMessage) { %>
    <div class="success-message">
        <p><%= successMessage %></p>
        <a href="/page-login" class="login-link">Login</a>
    </div>
<% } %>
        
    </body>
    <script>
        const form = document.querySelector('form');
        const passwordInput = document.querySelector('#password');
        const confirmPasswordInput = document.querySelector('#confirmPassword');
        const errorMessage = document.querySelector('#errorMessage');
    
        form.addEventListener('submit', function (event) {
            if (passwordInput.value !== confirmPasswordInput.value) {
                errorMessage.textContent = 'Passwords do not match.';
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
    
    </html>
    