<!DOCTYPE html>
<html>
<head>
    <title>PRETTY FINDS</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/PRETTY FINDS LOGO.png">

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }
        
        h1 {
            color: #333;
        }

        p {
            font-size: 18px;
            color: #555;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px;
            background-color: #0074d9;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Verification Successful</h1>
    <p>Your OTP has been verified successfully. You are now registered.</p>
    <a href="/page-login">Go to Login Page</a>
</body>
</html>
